<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ats"
			 connectionString="User ID=ats;
                         Password=12345;
                         Data Source=194.1.5.100:1521/hour;"
			 providerName="Oracle.ManagedDataAccess.Client"/>				
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>